/*Magento specific*/

@media only screen and (max-width: 980px){
.UNX-results-container,.UNX-product-list {
  box-sizing: border-box;
}
}

.page-products .columns {
  z-index: 20;
  padding-top: 10px;
}


.UNX-sale-price:before,.UNX-strike-price:before {
    content: '$';
}

.page-main {
  max-width: 100% !important;
  }

  .UNX-searchable-facets:before {
    font-family: 'FontAwesome';
  }

  .UNX-grid-card{
    cursor: pointer;
  }